.App {
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(250, 250, 250);
  background-color: #fde1d4;
}

.App h1 {
  text-align: center;
}

.App footer {
  margin: 20px;
  text-align: center;
}
