.dictionary h4 {
  font-size: 20px;
}

.dictionary section {
  margin: 2vw;
  padding: 1vw;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(216, 221, 219);
  border-radius: 6px;
}

.dictionary .app-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(254, 255, 255);
  margin: 3vw 1vw;
}

.dictionary .row {
  padding: 0;
}

.dictionary form {
  margin: 20px 0px;
  padding: 10px 40px;
}

.dictionary input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

@media (max-width: 768px) {
  .dictionary h4 {
    font-size: 15px;
  }
}
