.meaning h5 {
  font-size: 40px;
  color: #fea982;
}

.meaning .meaning-text {
  line-height: 30px;
}

.meaning .example {
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .meaning h5 {
    font-size: 30px;
  }
}
