.results .col-8 {
  padding: 0;
}

.results .col-4 {
  padding: 0;
}

.results h2 {
  font-size: 50px;
  color: #fea982;
}

@media (max-width: 768px) {
  .results h2 {
    font-size: 45px;
  }

  .results .word-phonetics-box {
    text-align: center;
  }
}
